In [2]:
!pip install sqlalchemy==1.4.46
!pip install pandasql
!pip install geopy
!pip install -U kaleido
import pandas as pd
import pandasql as ps
import matplotlib.pyplot as plt

Requirement already satisfied: sqlalchemy==1.4.46 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from sqlalchemy==1.4.46) (3.0.3)

[notice] A new release of pip is available: 23.1.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandasql in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (0.7.3)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandasql) (1.23.1)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandasql) (1.1.4)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandasql) (1.4.46)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas->pandasql) (2020.4)
Requirement already satisfied: greenlet!=0.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

[notice] A new release of pip is available: 23.1.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: geopy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from geopy) (1.52)

[notice] A new release of pip is available: 23.1.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: kaleido in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (0.2.1)

[notice] A new release of pip is available: 23.1.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [141]:
airbnb = pd.read_csv("clean/Airbnb.csv")
areas = pd.read_csv("clean/R2_area.csv")

In [142]:
airbnb.columns

Index(['id', 'host_id', 'host_name', 'neighborhood', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'availability_365',
       'airbnb_name', 'star', 'bedrooms', 'beds', 'baths'],
      dtype='object')

In [143]:
areas.columns

Index(['AREA', 'AREA NAME', 'SUBAREA NAME'], dtype='object')

In [144]:
areas[['AREA','AREA NAME']].drop_duplicates()

     AREA    AREA NAME
0       1      Central
14      2      Rampart
23      3    Southwest
36      4   Hollenbeck
49      5       Harbor
54      6    Hollywood
70      7     Wilshire
90      8      West LA
110     9     Van Nuys
116    10  West Valley
123    11    Northeast
138    12  77th Street
148    13       Newton
151    14      Pacific
160    15  N Hollywood
170    16     Foothill
177    17   Devonshire
181    18    Southeast
191    19      Mission
198    20      Olympic
200    21      Topanga

In [145]:
areas['SUBAREA NAME'] = areas['SUBAREA NAME'].str.strip()
areas['SUBAREA NAME'] = areas['SUBAREA NAME'].replace('Downtown Los Angeles', 'Downtown')
areas['SUBAREA NAME'] = areas['SUBAREA NAME'].replace('Carthay Circle', 'Carthay')
areas['SUBAREA NAME'] = areas['SUBAREA NAME'].replace('South Carthay', 'Carthay')

In [146]:
rows_to_add = [
    {'AREA': 20, 'AREA NAME': 'Olympic', 'SUBAREA NAME': 'Harvard Heights'},
    {'AREA': 7, 'AREA NAME': 'Wilshire', 'SUBAREA NAME': 'Beverly Grove'},
    {'AREA': 6, 'AREA NAME': 'Hollywood', 'SUBAREA NAME': 'Hollywood Hills West'},
    {'AREA': 8, 'AREA NAME': 'West LA', 'SUBAREA NAME': 'Pico-Robertson'},
    {'AREA': 18, 'AREA NAME': 'Southeast', 'SUBAREA NAME': 'Broadway-Manchester'},
    {'AREA': 20, 'AREA NAME': 'Olympic', 'SUBAREA NAME': 'Larchmont'},
    {'AREA': 8, 'AREA NAME': 'West LA', 'SUBAREA NAME': 'Bel-Air'},
    {'AREA': 3, 'AREA NAME': 'Southwest', 'SUBAREA NAME': 'Baldwin Hills/Crenshaw'},
    {'AREA': 12, 'AREA NAME': '77th Street', 'SUBAREA NAME': 'Vermont Square'},
    {'AREA': 13, 'AREA NAME': 'Newton', 'SUBAREA NAME': 'Historic South-Central'},
    {'AREA': 18, 'AREA NAME': 'Southeast', 'SUBAREA NAME': 'Green Meadows'},
    {'AREA': 13, 'AREA NAME': 'Newton', 'SUBAREA NAME': 'South Park'},
    {'AREA': 12, 'AREA NAME': '77th Street', 'SUBAREA NAME': 'Vermont-Slauson'},
    {'AREA': 10, 'AREA NAME': 'West Valley', 'SUBAREA NAME': 'Sepulveda Basin'},
    {'AREA': 11, 'AREA NAME': 'Northeast', 'SUBAREA NAME': 'Griffith Park'},
    {'AREA': 13, 'AREA NAME': 'Newton', 'SUBAREA NAME': 'Central-Alameda'},
    {'AREA': 18, 'AREA NAME': 'Southeast', 'SUBAREA NAME': 'Vermont Vista'},
    {'AREA': 12, 'AREA NAME': '77th Street', 'SUBAREA NAME': 'Florence'},
    {'AREA': 12, 'AREA NAME': '77th Street', 'SUBAREA NAME': 'Harvard Park'},
    {'AREA': 21, 'AREA NAME': 'Topanga', 'SUBAREA NAME': 'Chatsworth Reservoir'},
    # Add as many rows as needed
]

for row in rows_to_add:
    areas = areas.append(row, ignore_index=True)

In [154]:
areas.to_csv('Areas.csv', index=False)

In [153]:
pwd

'/Users/gillianwong/Documents/2024Spring/CIS5500/project_skeleton/Criminal_Airbnb_Analysis-main'

In [148]:
full_join_df = pd.merge(airbnb, areas, left_on='neighborhood', right_on='SUBAREA NAME', how='outer')[['neighborhood', 'SUBAREA NAME']]

full_join_df

      neighborhood       SUBAREA NAME
0        Hollywood          Hollywood
1        Hollywood          Hollywood
2        Hollywood          Hollywood
3        Hollywood          Hollywood
4        Hollywood          Hollywood
...            ...                ...
24588          NaN       Jordan Downs
24589          NaN  Nickerson Gardens
24590          NaN     Parkside Manor
24591          NaN          Knollwood
24592          NaN      Blythe Street

[24593 rows x 2 columns]

In [149]:
carthay_rows = full_join_df[full_join_df['neighborhood'].str.contains('carthay', case=False, na=False)]
carthay_rows = full_join_df[full_join_df['SUBAREA NAME'].str.contains('carthay', case=False, na=False)]

In [150]:
full_join_df[full_join_df['SUBAREA NAME'].isnull()]

Empty DataFrame
Columns: [neighborhood, SUBAREA NAME]
Index: []

In [151]:
full_join_df.neighborhood.unique()

array(['Hollywood', 'Hollywood Hills', 'Del Rey', 'Woodland Hills',
       'Mid-City', 'Atwater Village', 'Harvard Heights', 'Venice',
       'Mid-Wilshire', 'Encino', 'Silver Lake', 'Valley Village',
       'Beverly Grove', 'Westchester', 'Highland Park', 'Koreatown',
       'Echo Park', 'Sawtelle', 'Mount Washington', 'North Hollywood',
       'Jefferson Park', 'Downtown', 'Pacific Palisades',
       'East Hollywood', 'Valley Glen', 'Shadow Hills', 'Mar Vista',
       'Carthay', 'Fairfax', 'Glassell Park', 'Elysian Valley',
       'San Pedro', 'Century City', 'Palms', 'West Los Angeles',
       'Van Nuys', 'Studio City', 'Hollywood Hills West',
       'Pico-Robertson', 'Broadway-Manchester', 'Beverly Crest',
       'Hancock Park', 'Arlington Heights', 'Los Feliz', 'Leimert Park',
       'Sherman Oaks', 'Brentwood', 'Canoga Park', 'Eagle Rock',
       'Lincoln Heights', 'Rancho Park', 'Westwood', 'Winnetka',
       'Larchmont', 'Panorama City', 'Westlake', 'Playa del Rey',
       'Playa Vista', 'West Adams', 'Harbor City', 'West Hills',
       'Montecito Heights', 'Sunland', 'Bel-Air', 'Reseda',
       'Baldwin Hills/Crenshaw', 'Vermont Square', 'Boyle Heights',
       'Northridge', 'Porter Ranch', 'University Park', 'Beverlywood',
       'Cheviot Hills', 'El Sereno', 'Granada Hills', 'Adams-Normandie',
       'Gramercy Park', 'Exposition Park', 'Tarzana', 'Lake Balboa',
       'Sun Valley', 'Harbor Gateway', 'Hyde Park', 'Windsor Square',
       'Chatsworth', 'Toluca Lake', 'Chinatown', 'Tujunga', 'North Hills',
       'Historic South-Central', 'Arleta', 'Pico-Union', 'Sylmar',
       'Green Meadows', 'Cypress Park', 'South Park', 'Vermont-Slauson',
       'Watts', 'Elysian Park', 'Sepulveda Basin', 'Pacoima',
       'Chesterfield Square', 'Wilmington', 'Vermont Knolls',
       'Griffith Park', 'Mission Hills', 'Central-Alameda',
       'Manchester Square', 'Lake View Terrace', 'Vermont Vista',
       'Florence', 'Harvard Park', 'Chatsworth Reservoir', nan],
      dtype=object)

In [139]:
full_join_df['SUBAREA NAME'].unique()

array(['Hollywood', 'Hollywood Hills', 'Del Rey', 'Woodland Hills',
       'Mid-City', 'Atwater Village', 'Harvard Heights', 'Venice',
       'Mid-Wilshire', 'Encino', 'Silver Lake', 'Valley Village',
       'Beverly Grove', 'Westchester', 'Highland Park', 'Koreatown',
       'Echo Park', 'Sawtelle', 'Mount Washington', 'North Hollywood',
       'Jefferson Park', 'Downtown', 'Pacific Palisades',
       'East Hollywood', 'Valley Glen', 'Shadow Hills', 'Mar Vista',
       'Carthay', 'Fairfax', 'Glassell Park', 'Elysian Valley',
       'San Pedro', 'Century City', 'Palms', 'West Los Angeles',
       'Van Nuys', 'Studio City', 'Hollywood Hills West',
       'Pico-Robertson', 'Broadway-Manchester', 'Beverly Crest',
       'Hancock Park', 'Arlington Heights', 'Los Feliz', 'Leimert Park',
       'Sherman Oaks', 'Brentwood', 'Canoga Park', 'Eagle Rock',
       'Lincoln Heights', 'Rancho Park', 'Westwood', 'Winnetka',
       'Larchmont', 'Panorama City', 'Westlake', 'Playa del Rey',
       'Playa Vista', 'West Adams', 'Harbor City', 'West Hills',
       'Montecito Heights', 'Sunland', 'Bel-Air', 'Reseda',
       'Baldwin Hills/Crenshaw', 'Vermont Square', 'Boyle Heights',
       'Northridge', 'Porter Ranch', 'University Park', 'Beverlywood',
       'Cheviot Hills', 'El Sereno', 'Granada Hills', 'Adams-Normandie',
       'Gramercy Park', 'Exposition Park', 'Tarzana', 'Lake Balboa',
       'Sun Valley', 'Harbor Gateway', 'Hyde Park', 'Windsor Square',
       'Chatsworth', 'Toluca Lake', 'Chinatown', 'Tujunga', 'North Hills',
       'Historic South-Central', 'Arleta', 'Pico-Union', 'Sylmar',
       'Green Meadows', 'Cypress Park', 'South Park', 'Vermont-Slauson',
       'Watts', 'Elysian Park', 'Sepulveda Basin', 'Pacoima',
       'Chesterfield Square', 'Wilmington', 'Vermont Knolls',
       'Griffith Park', 'Mission Hills', 'Central-Alameda',
       'Manchester Square', 'Lake View Terrace', 'Vermont Vista',
       'Florence', 'Harvard Park', 'Chatsworth Reservoir',
       'Bunker Hill/Historic Core', 'Central City East', 'Civic Center',
       'Fashion District', 'Jewelry District', 'Little Tokyo',
       'Solano Canyon', 'South Park-Entertainment', 'Toy District',
       'Old Bank District', 'Artists Lofts', 'Financial District',
       'Angelino Heights', 'Historic Filipinotown', 'Lafayette Park',
       'MacArthur Park', 'Temple-Beaudry', 'Virgil Village',
       'Baldwin Hills', 'Baldwin Village', 'Baldwin Vista', 'Crenshaw',
       'Union Square', 'Village Green', 'Western Heights',
       'Aliso Village', 'Estrada Court', 'Hermon', 'Hillside Village',
       'Monterey Hills', 'Pico Gardens', 'Ramona Gardens',
       'Rose Hills Courts', 'University Hills', 'Terminal Island',
       'Argyle', 'Cahuenga Pass', 'Hobart', 'Hollywood/La Brea',
       'Little Armenia', 'Melrose District', 'Mount Olympus',
       'Sierra Vista', 'Spaulding Square', 'Sunset Strip', 'Thai Town',
       'Vine/Willoughby', 'Brookside Park', 'Country Club Park',
       'Greater Wilshire', 'Larchmont Village', 'Little Ethiopia',
       'Melrose', 'Miracle Mile', 'Park La Brea', 'Wellington Square',
       'Wilshire Center', 'Wilshire Vista', 'Olympic Park', 'Bel Air',
       'Benedict Canyon', 'Beverly Glen', 'Crestview', 'Glen Ridge',
       'Roscomare Valley', 'Rustic Canyon', 'San Vicente',
       'La Cienega Heights', 'Santa Monica Canyon', 'Sepulveda',
       'Ventura Business District', 'West Van Nuys', 'Mandeville Canyon',
       'Warner Center', 'Franklin Hills', 'Garvanza', 'Athens Park',
       'South Park-51st and Menlo', 'Vermont Park', 'View Heights',
       'Morningside Park', 'West Park Terrance', 'Pueblo Del Rio',
       'Oakwood', 'Toluca Woods', 'Universal City', 'West Toluca',
       'La Tuna Canyon', 'Avalon Gardens', 'Gardena Boulevard',
       'Hacienda Village', 'Imperial Courts', 'Jordan Downs',
       'Nickerson Gardens', 'Parkside Manor', 'Knollwood',
       'Blythe Street'], dtype=object)